:root {
    --primary-color: cornflowerblue;
    --secondary-color: lightskyblue;
    --tertiary-color: lightseagreen;
}

* {
    margin: 0;
    padding: 0;
}
/*body styling start*/
body {
    margin: 18px;
    color: var(--tertiary-color);
    font-family: 'Times New Roman', Times, serif;
}
/*body styling end*/

/*header styling*/
header {
    padding: 10px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10%;
    margin: auto;
    
}
header h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    color: var(--primary-color)
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 40px;
    font-weight: lighter;
    font-size: 28px;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: palegoldenrod;
    border-radius: 15px;
}
/*working hover color change; up to here good*/


/*section titles stylin*/

.section-title {
    
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}

/*hero styling start*/
.hero {
    background: slategray;
    text-align: right;
}
/*end hero styling*/


/*about me styling start*/

/*entire section styling*/
/*.about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex;
    max-height: 100%;
    
}*/

/*about img styling*/

.about-row{
    display: flex;
}
.about-column-left {
    float: left;
    width: 50%;
}
.about-column-left img {
    max-width: 100%;
    max-height: 100%;
}
.about-column-right {
    float: right;
    width: 50%;
}
/*about txt styling*/

.about-column-right p {
    
    padding: 5px;
    margin: auto;

}


/*hero styling end*/




/*work section styling start*/
.my-works {
    position: fixed;
}



/*work item grid styling start*/


.works {
    background: white;
    display: block;
}




.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 400px;

}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    border: none;
    color: white;
    font-size: 1.7rem;
    grid-gap: 10px;
}


.work-grid-item {
    padding: 15px 0;
    width: span;
    height: span;
    border: 2px solid var(--secondary-color);
    background-color: burlywood;
    
    
}

.work-grid-item.bigproj {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/run-buddy.png");
    background-size: cover;
    background-position: center;

  

}

.work-grid-item p {
    display: flex;
    background: peachpuff;
    width: 100px;
    border: 2px solid var(--secondary-color);
}

/*work grid styling end*/

/*contact styling start*/
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    height: 44px;
    width: 100%;
    margin: 1%;
    margin-right: 20%;
    padding: 5px;

    

}

.contact-me {
    width: 100%;
}

.contact-links {
    margin: 5px;
    font-size: 1.3rem;
}


/*contact styling end*/

/*media query for smaller desktop comps 980px*/
/*media query for tablets and smaller 768px*/
/*media query for mobile phones and smaller 575px*/