:root {
    --primary-color: cornflowerblue;
    --secondary-color: lightskyblue;
    --tertiary-color: lightseagreen;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body styling start*/
body {
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
}
/*body styling end*/

/*header styling*/
header {
    padding: 20px 35px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10%;
}
header h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
/*up to here functional*/
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 40px;
    font-weight: lighter;
    font-size: 28px;
}
.section-title {
    color: var(--secondary-color);
}

/*hero styling start*/
.hero {
    text-align: right;
}

/*hero styling end*/





/*work item grid styling start*/
.works {
    background: white;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 400px;

}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    border: none;
    color: white;
    font-size: 1.7rem;
    grid-gap: 10px;
}


.work-grid-item {
    padding: 15px 0;
    width: span;
    height: span;
    border: 2px solid var(--secondary-color);
    background-color: burlywood;
    
}

.work-grid-item.bigproj {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/run-buddy.png");
    background-position: center;
    background-size: cover;
  

}

.work-grid-item p {
    display: flex;
    background: peachpuff;
    width: 100px;
    border: 2px solid var(--secondary-color);
}

/*media query for smaller desktop comps 980px*/
/*media query for tablets and smaller 768px*/
/*media query for mobile phones and smaller 575px*/